<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JINYOUNG 해운대GO</title>
    <!-- 파비콘 삽입 -->
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <!-- css -->
    <link rel="stylesheet" href="/static/css/reset.css" type="text/css">
    <link rel="stylesheet" href="/static/css/base.css" type="text/css">
     <link rel="stylesheet" href="/static/css/go_.css" type="text/css">
</head>
<body>
    <header>
        <h1>해운대 현지인 투어 <span>해운대 GO!</span></h1>
    </header>
    <main>
        <p class="info">
            '내 주변 검색'를 통해 맛집, 카페, 관광명소 등<br>
            '해운대'에 관한 전반적인 여행 정보를 알려주는 <br>
            해운대 현지인 추천 투어, <span>해운대 GO</span>입니다.<br>
            main.html, login.html, m_search.html 등 <ins>총 8개의 화면을 구현</ins>하였습니다!<br>
            <span>URL : https://sjy19960402.github.io/haeundaeGO/</span>
        </p>
        <article>
            <h2>Design</h2>
            <img src="/static/img/go_design.png" alt="xd디자인">
        </article>
        <article>
            <h2>Coding</h2>
            <img src="/static/img/go_result.jpg" alt="구현">
        </article>
       <article>
           <h2>이렇게 작업했어요!</h2>
           <img src="/static/img/go_make.jpg" alt="해운대go제작과정">
       </article>
    </main>
     <!-- 푸터 영역 -->
     <footer>
        <address>SHINJINYOUNG&nbsp;&copy;2022PORTFOLIO</address>
    </footer>
</body>
</html>