<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JINYOUNG outback</title>
    <!-- 파비콘 삽입 -->
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <!-- css -->
    <link rel="stylesheet" href="/static/css/reset.css" type="text/css">
    <link rel="stylesheet" href="/static/css/base.css" type="text/css">
   <link rel="stylesheet" href="/static/css/go.css" type="text/css">
</head>
<body>
    <header>
        <h1>반응형 웹사이트 <span>'OUTBACK'</span></h1>
    </header>
    <main>
       <article>
           <h3 class="d-none">아웃백작업과정</h3>
           <p>
               기존 적응형 사이트였던 '아웃백' 사이트를<br>
               <ins>미디어쿼리를 사용</ins>하여 pc, tablet, mobile ver으로 볼 수 있는<br>
               반응형 웹사이트로 제작하였습니다.<br>
               <span>URL : https://sjy19960402.github.io/Outback/</span>
           </p>
           <img src="/static/img/outback_made.jpg" alt="아웃백제작과정">
       </article>
    </main>
     <!-- 푸터 영역 -->
     <footer>
        <address>SHINJINYOUNG&nbsp;&copy;2022PORTFOLIO</address>
    </footer>
</body>
</html>