<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JINYOUNG ucafe</title>
    <!-- 파비콘 삽입 -->
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
       <!-- css -->
       <link rel="stylesheet" href="/static/css/reset.css" type="text/css">
       <link rel="stylesheet" href="/static/css/base.css" type="text/css">
   <link rel="stylesheet" href="/static/css/ucafe.css" type="text/css">
</head>
<body>
    <header>
        <h1>내 취향 맞춤 커피 오더 <span>U:CAFE</span></h1>
    </header>
    <main>
        <p class="info">
            '내 취향 커피 test'를 통해 개인 취향 맞춤 커피를 찾고,<br>
            내 주변 카페를 찾아 커피 오더까지 할 수 있는<br>
            맞춤형 커피 오더 앱 <span>your cafe, U:CAFE</span>입니다.<br>
            main.html > test.html > order.html 등 <ins>총 8개의 화면을 구현</ins>하였습니다!<br>
            <span>URL : https://sjy19960402.github.io/U-CAFE/</span>
        </p>
        <ul>
            <li>
                <p>기획 및 디자인부터,</p>
                <img src="/static/img/ucafe_style.jpg" alt="ucafe최초기획">
                    
                    <div>
                    <p>이렇게 완성했어요!</p>
                    <img src="/static/img/02_mockup.jpg" alt="목업디자인">
                </div>
            </li>
            <li>
                <p>앱 테스트 까지</p>
                <img src="/static/img/ucafe_test.jpg" alt="ucafe앱테스트">
            </li>
        </ul>
    </main>
     <!-- 푸터 영역 -->
     <footer>
        <address>SHINJINYOUNG&nbsp;&copy;2022PORTFOLIO</address>
    </footer>
</body>
</html>