@charset "utf-8";

body{background: #e1e7f2;}
header{
    width: 100%;
    height: 100px;
    margin-bottom: 60px;
}
header > img{width: 50px;}
header > h1{
    font-size: 18px;
    text-align: center;
    line-height: 100px;
}
header h1 span{font-size: 36px; font-weight: bolder;}
main{padding-bottom: 30px;}
main > .info{
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    margin-bottom: 60px;
}
main > .info span{
    font-weight: bold;
    color: rgb(82, 73, 201);
}
main > article{
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 50px;
}
main > article h2{
    font-family: 'Montserrat',Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}
main > article img{
    width: 100%;
    filter: drop-shadow(3px 3px 4px rgb(170, 170, 170));
}
main > article:last-of-type h2{text-align: right;}
