@charset "utf-8";

body{
    background: rgba(246,230,203,.4);
}
header{
    width: 100%;
    height: 100px;
    margin-bottom: 60px;
}
header > h1{
    font-size: 18px;
    text-align: center;
    line-height: 100px;
}
header h1 span{font-size: 36px; font-weight: bolder;}
main{padding-bottom: 20px;}
main > .info{
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    margin-bottom: 60px;
}
main > .info span{
    font-weight: bold;
    color: rgb(223, 61, 96);
}
main > ul{
    display: flex;
    justify-content: center;
    width: 1200px;
    margin: 0 auto;
}
ul > li{
    width: 100%;
}
ul > li p{
    font-size: 28px;
    margin-bottom: 20px;
}
ul > li img{
    width: 90%;
    filter: drop-shadow(3px 3px 4px rgb(170, 170, 170));
}
ul > li > div{transform: translateY(-80px);}
